<section class="membership-landingpage-third">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="membership-landingpage-third-title">
                <span>membership-landingpage-third-title</span>
            </div>
            <div class="row membership-landingpage-third-content">
                <div class="col-sm-4 membership-landingpage-third-item">
                    <div class="membership-landingpage-third-item-header">
                        <i class="fa fa-circle-o" style="color:green; font-size:10px"></i>
                        <div class="membership-landingpage-third-item-title"><%= "ruby is very good and rails is best framework" %></div>
                    </div>
                    <div class="membership-landingpage-third-item-content">
                        <%= "item.description" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-third-item">
                    <div class="membership-landingpage-third-item-header">
                        <i class="fa fa-circle-o" style="color:green; font-size:10px"></i>
                        <div class="membership-landingpage-third-item-title"><%= "ruby is very good" %></div>
                    </div>
                    <div class="membership-landingpage-third-item-content">
                        <%= "item.description ruby is very good" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-third-item">
                    <div class="membership-landingpage-third-item-header">
                        <i class="fa fa-circle-o" style="color:green; font-size:10px"></i>
                        <div class="membership-landingpage-third-item-title"><%= "ruby is very good and rails is best framework" %></div>
                    </div>
                    <div class="membership-landingpage-third-item-content">
                        <%= "item.description ruby is very good and rails is best framework.and this is good site" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-third-item">
                    <div class="membership-landingpage-third-item-header">
                        <i class="fa fa-circle-o" style="color:green; font-size:10px"></i>
                        <div class="membership-landingpage-third-item-title"><%= "ruby is very good and rails is best framework" %></div>
                    </div>
                    <div class="membership-landingpage-third-item-content">
                        <%= "item.description ruby is very good and rails is best framework.and this is good site" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-third-item">
                    <div class="membership-landingpage-third-item-header">
                        <i class="fa fa-circle-o" style="color:green; font-size:10px"></i>
                        <div class="membership-landingpage-third-item-title"><%= "ruby is very good and rails is best framework" %></div>
                    </div>
                    <div class="membership-landingpage-third-item-content">
                        <%= "item.description ruby is very good and rails is best framework.and this is good site" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-third-item">
                    <div class="membership-landingpage-third-item-header">
                        <i class="fa fa-circle-o" style="color:green; font-size:10px"></i>
                        <div class="membership-landingpage-third-item-title"><%= "ruby is very good and rails is best framework" %></div>
                    </div>
                    <div class="membership-landingpage-third-item-content">
                        <%= "item.description ruby is very good and rails is best framework.and this is good site" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>