<section class="membership-landingpage-testimonial">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">  
            <div class="row membership-landingpage-testimonial-content">
                <div class="col-sm-4 membership-landingpage-testimonial-item">
                    <img src="/images/1.png" />
                    <div class="membership-landingpage-testimonial-item-title"><%= "item.title" %></div>
                    <span class="membership-landingpage-testimonial-item-content">
                        <%= "item.description" %>
                    </span>
                    <div class="membership-landingpage-testimonial-item-button">
                        <%= link_to "Learn more", memberships_plans_path, class:"btn-online-success" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-testimonial-item">
                    <img src="/images/1.png" />
                    <div class="membership-landingpage-testimonial-item-title"><%= "item.title" %></div>
                    <span class="membership-landingpage-testimonial-item-content">
                        <%= "item.description" %>
                    </span>
                    <div class="membership-landingpage-testimonial-item-button">
                        <%= link_to "Learn more", memberships_plans_path, class:"btn-online-success" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-testimonial-item">
                    <img src="/images/1.png" />
                    <div class="membership-landingpage-testimonial-item-title"><%= "item.title" %></div>
                    <span class="membership-landingpage-testimonial-item-content">
                        <%= "item.description" %>
                    </span>
                    <div class="membership-landingpage-testimonial-item-button">
                        <%= link_to "Learn more", memberships_plans_path, class:"btn-online-success" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-testimonial-item">
                    <img src="/images/1.png" />
                    <div class="membership-landingpage-testimonial-item-title"><%= "item.title" %></div>
                    <span class="membership-landingpage-testimonial-item-content">
                        <%= "item.description" %>
                    </span>
                    <div class="membership-landingpage-testimonial-item-button">
                        <%= link_to "Learn more", memberships_plans_path, class:"btn-online-success" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-testimonial-item">
                    <img src="/images/1.png" />
                    <div class="membership-landingpage-testimonial-item-title"><%= "item.title" %></div>
                    <span class="membership-landingpage-testimonial-item-content">
                        <%= "item.description" %>
                    </span>
                    <div class="membership-landingpage-testimonial-item-button">
                        <%= link_to "Learn more", memberships_plans_path, class:"btn-online-success" %>
                    </div>
                </div>
                <div class="col-sm-4 membership-landingpage-testimonial-item">
                    <img src="/images/1.png" />
                    <div class="membership-landingpage-testimonial-item-title"><%= "item.title" %></div>
                    <span class="membership-landingpage-testimonial-item-content">
                        <%= "item.description" %>
                    </span>
                    <div class="membership-landingpage-testimonial-item-button">
                        <%= link_to "Learn more", memberships_plans_path, class:"btn-online-success" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>