<%= content_for(:title, 'Sold Ads') %>

<%= content_for(:meta_tags) do %>
  <% %w(keywords description).each do |key| %>
    <% unless current_user.send(key).blank? %>
      <meta property="<%= key %>" content="<%= current_user.send(key) %>" />
    <% end %>
  <% end %>
<% end %>

<%= render ('layouts/header') %>

<%= render ('shared/banner-top') %>


  <!-- CONTENT -->
  <section class="ads">
    <div class="container">
      <div class="row">
        <!-- START WITH BUSINESS LISTINGS -->
        <div class="col-sm-8">
          <div class="gradient-bg">
            <div class="ads-list-title">
              SOLD ADS
            </div>
          </div>

           <%= render 'payment_requests/incoming/requests', requests: @payment_requests %>

          <div class="ads-pagination">
            <div class="row">
              <div class="col-sm-4 pt5">
                <%= page_entries_info(@payment_requests, :entry_name => 'Request').html_safe %>
              </div>
              <div class="col-sm-5 text-center">
                <%= will_paginate @payment_requests %>
              </div>
              <div class="col-sm-4 text-right">
                Display #
                <div class="selectbox small-paginator">
                  <%= form_tag(incoming_requests_path, class: 'paginator-form', method: 'get') do |f| %>
                  <select name="pagination_select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                  </select>
                  <% end %>
                  <script>
                  $(document).ready(function(){
                    $(".paginator-form").change(function() {
                        $(this).submit();
                    });

                  });
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-bottom text-center">
            <%= render('shared/banner-bottom')%>
          </div>
        </div>
        <!-- ANOTHER ADS -->
        <div class="col-sm-3">
          <div class="gradient-bg gradient-bg--ads">
            <%= render ('shared/banner-right-sidebar-long') %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--- CONTENT -->
