<!-- START ADS LIST -->         

<section class="ads-list-more">
                    <div class="ads-list-title"><span>Sponsored Listings</span></div>
                            <div class="row">
                                <div class=" col-md-2 col-sm-6 col-xs-12 col-md-offset-1">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:green;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info">
                                            <div class="mainpage ad-title text-center" >
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="ad-reviews-new-style" style="">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="ad-price-new-style">
                                                    <span class="ad-price-tag" style="">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" col-md-2 col-sm-6 col-xs-12 col-md-offset-1">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="ad-card ad-card-service">
                                        <div class="ad-card-picture center-image">
                                            <a href="#" %>
                                                    <img src="/images/photo-290.png" class="img-responsive" alt="No photo">
                                            </a>
                                            <div class="ad-add-favourites ad-add-favourites--services-absolute">
                                                <%= link_to "<i class='fa fa-heart-o' style='color:white;font-size: 25px'></i>".html_safe, '#login-popup', class: 'popup-with-zoom-anim' %>
                                            </div>
                                            <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                                        </div>
                                        <div class="ad-detail-info" style="margin: 0 10px;">
                                            <div class="mainpage ad-title text-center" style="  margin-bottom:10px;">
                                                <a href="#"> stuff for sale very good ruby on rails developer </a>
                                            </div>
                                            <div class="" style="margin-bottom:10px;">
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <i class="ico ico-star ico-star--blank" ></i>
                                                <span class="ad-reviews-rating" style="margin:0 10px">4</span>
                                                <span class="ad-reviews-counter">
                                                    (1024)
                                                </span>
                                            </div>
                                            <div class="">
                                                    <span class="ad-price-tag" style="font-size:20px; font-weight:bold">£ 15000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-xs-0"></div>
                                </div>
                                </div>
                    </div>

</section>
<!-- END OTHER ADS LIST -->
