<div role="tabpanel" class="tab-pane" id="content-ads">
  <div class="tab-content-heading">
    <span>TOTAL ITEMS: <span class="green"><%= @user_content.count %></span></span>
  </div>
  <div class="tab-content-content">
    <div class="owl-carousel" id="listing-ads-content-slider">
      <% @user_content.each do |listing| %>
        <div class="ads-slide">
          <% if listing.urgent? %>
            <% div_class = 'ad-card--urgent' %>
          <% elsif listing.featured? %>
            <% div_class = 'ad-card--featured' %>
          <% else %>
            <% div_class = '' %>
          <% end %>
          <div class="ad-card ad-card-service <%= div_class %>">
            <div class="ad-title text-center">
              <%= link_to listing.name, listing_path(listing) %>
            </div>
            <div class="ad-card-picture">
              <%= link_to listing_path(listing) do %>
                <% if listing.photos.present? %>
                  <%= image_tag listing.photos.first.image.small_serv.url, class: 'img-responsive', alt: "#{listing.name}" %>
                <% else %>
                  <img src="/images/photo-290.png" class="img-responsive" alt='No photo'>
                <% end %>
               <% end %>
              <div class="ad-add-favourites ad-add-favourites--services-absolute">
                <% if current_user %>
                  <% if is_favorited?(listing.id) %>
                    <%= link_to "<i class='ico ico-favourite'></i> <span class='visible-md-inline visible-lg-inline'>ADD TO</span> FAVORITES".html_safe, favorite_listing_path(listing, type: "favorite"), method: :put, class: 'btn-favourite' %>
                  <% else %>
                  <%= link_to "<i class='ico ico-favourite'></i> UNFAVORITE".html_safe, favorite_listing_path(listing, type: "unfavorite"), method: :put, class: 'btn-favourite' %>
                  <% end %>
                <% end %>
              </div>
              <% if listing.urgent? %>
                <span class="ad-picture-tag tag--service tag--urgent">URGENT</span>
                <% if listing.featured? %>
                  <span class="ad-picture-tag tag--service tag--featured" style="top: 30px;">FEATURED</span>
                <% end %>
              <% elsif listing.featured? %>
                <span class="ad-picture-tag tag--service tag--featured">FEATURED</span>
              <% end %>
            </div>
            <div class="row">
              <div class="col-sm-6 no-pad-r">
                <%= link_to user_path(listing.user) do %>
                  <% if listing.user.profile_photo.present? %>
                    <div class="ad-author-avatar" style="background-image: url('<%= "#{listing.user.profile_photo.thumb.url}" %>')">
                    </div>
                  <% else %>
                    <div class="ad-author-avatar" style="background-image: url('/images/no-avatar.png')">
                    </div>
                  <% end %>
                <% end %>
                <div class="ad-author no-align">
                  <span>Added by:</span>
                  <% if listing.user.first_name.present? %>
                  <%= link_to "#{listing.user.first_name}" + " " + "#{listing.user.last_name}", user_path(listing.user) %>
                  <% else %>
                  <%= link_to listing.user.email, user_path(listing.user) %>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="ad-posted-ago">
                  <i class="ico ico-posted-ago"></i> <span>Posted:</span> <%= time_ago_in_words(listing.created_at) + " ago" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
