<section class="membership-plans-plan">
    <div class="container">
        <div class="membership-plans-plan-title">
            <span>Select the Trial plan that's right for you</span>
        </div>
        <div class="membership-plans-plan-title-comment">
            <span >No Risk, Money Back Guarantee, Cancel Anytime</span>
        </div>
        <div class="membership-plans-plan-durations">
            <div id="membership-plans-plan-duration-monthly" class="membership-plans-plan-duration active-red">
                <span class="membership-plans-plan-duration-title">Monthly</span>
                </br>
                <span class="membership-plans-plan-duration-service">Up to 25% discount</span>
            </div>
            <div id="membership-plans-plan-duration-annual" class="membership-plans-plan-duration">
                <span class="membership-plans-plan-duration-title">Annual</span>
                </br>
                <span class="membership-plans-plan-duration-service">Up to 25% discount</span>
            </div>
        </div>
        <div id="membership-plans-plan-content-monthly" class="row membership-plans-plan-content">
            <div class="col-sm-4 membership-plans-plan-info">
                <div class="membership-plans-plan-level">
                    <i class="fa fa-circle" style="color:green"></i>
                    <span>starter</span>
                </div>
                <hr>
                <div class="membership-plans-plan-service-items">
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                </div>
                <div class="membership-plans-plan-service-fees">
                    <span>£1 for 14days</span>
                </div>
                <div class="membership-plans-plan-service-monthly-fees">
                    <span class="membership-plans-plan-service-monthly-fees-price">£79</span>
                    <span class="membership-plans-plan-service-monthly-fees-duration">/month</span>
                    <div class="membership-plans-plan-service-monthly-fees-comment">When billed annually</div>
                </div>
                <div class="membership-plans-plan-start-button">
                    <%= link_to "<span> Start Trial &nbsp &nbsp ></span>".html_safe, memberships_change_path %>
                </div>
            </div>
            <div class="col-sm-4 membership-plans-plan-info">
                <div class="membership-plans-plan-level">
                    <i class="fa fa-circle" style="color:green"></i>
                    <span>starter</span>
                </div>
                <hr>
                <div class="membership-plans-plan-service-items">
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                </div>
                <div class="membership-plans-plan-service-fees">
                    <span>£1 for 14days</span>
                </div>
                <div class="membership-plans-plan-service-monthly-fees">
                    <span class="membership-plans-plan-service-monthly-fees-price">£79</span>
                    <span class="membership-plans-plan-service-monthly-fees-duration">/month</span>
                    <div class="membership-plans-plan-service-monthly-fees-comment">When billed annually</div>
                </div>
                <div class="membership-plans-plan-start-button">
                    <%= link_to "<span> Start Trial &nbsp &nbsp ></span>".html_safe, memberships_change_path %>
                </div>
            </div>
            <div class="col-sm-4 membership-plans-plan-info">
                <div class="membership-plans-plan-level">
                    <i class="fa fa-circle" style="color:green"></i>
                    <span>starter</span>
                </div>
                <hr>
                <div class="membership-plans-plan-service-items">
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                </div>
                <div class="membership-plans-plan-service-fees">
                    <span>£1 for 14days</span>
                </div>
                <div class="membership-plans-plan-service-monthly-fees">
                    <span class="membership-plans-plan-service-monthly-fees-price">£79</span>
                    <span class="membership-plans-plan-service-monthly-fees-duration">/month</span>
                    <div class="membership-plans-plan-service-monthly-fees-comment">When billed annually</div>
                </div>
                <div class="membership-plans-plan-start-button">
                    <%= link_to "<span> Start Trial &nbsp &nbsp ></span>".html_safe, memberships_change_path %>
                </div>
            </div>
        </div>
        <div id="membership-plans-plan-content-annual" class="row active-display membership-plans-plan-content">
            <div class="col-sm-4 membership-plans-plan-info">
                <div class="membership-plans-plan-level">
                    <i class="fa fa-circle" style="color:green"></i>
                    <span>starter</span>
                </div>
                <hr>
                <div class="membership-plans-plan-service-items">
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                </div>
                <div class="membership-plans-plan-service-fees">
                    <span>£1 for 14days</span>
                </div>
                <div class="membership-plans-plan-service-monthly-fees">
                    <span class="membership-plans-plan-service-monthly-fees-price">£79</span>
                    <span class="membership-plans-plan-service-monthly-fees-duration">/month</span>
                    <div class="membership-plans-plan-service-monthly-fees-comment">When billed annually</div>
                </div>
                <div class="membership-plans-plan-start-button">
                    <%= link_to "<span> Start Trial &nbsp &nbsp ></span>".html_safe, memberships_change_path %>
                </div>
            </div>
            <div class="col-sm-4 membership-plans-plan-info">
                <div class="membership-plans-plan-level">
                    <i class="fa fa-circle" style="color:green"></i>
                    <span>starter</span>
                </div>
                <hr>
                <div class="membership-plans-plan-service-items">
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                </div>
                <div class="membership-plans-plan-service-fees">
                    <span>£1 for 14days</span>
                </div>
                <div class="membership-plans-plan-service-monthly-fees">
                    <span class="membership-plans-plan-service-monthly-fees-price">£79</span>
                    <span class="membership-plans-plan-service-monthly-fees-duration">/month</span>
                    <div class="membership-plans-plan-service-monthly-fees-comment">When billed annually</div>
                </div>
                <div class="membership-plans-plan-start-button">
                    <%= link_to "<span> Start Trial &nbsp &nbsp ></span>".html_safe, memberships_change_path %>
                </div>
            </div>
            <div class="col-sm-4 membership-plans-plan-info">
                <div class="membership-plans-plan-level">
                    <i class="fa fa-circle" style="color:green"></i>
                    <span>starter</span>
                </div>
                <hr>
                <div class="membership-plans-plan-service-items">
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                    <div class="membership-plans-plan-service-item">
                        <i class="fa fa-check"></i>
                        <span>lorem ipsum</span>
                    </div>
                    <hr>
                </div>
                <div class="membership-plans-plan-service-fees">
                    <span>£1 for 14days</span>
                </div>
                <div class="membership-plans-plan-service-monthly-fees">
                    <span class="membership-plans-plan-service-monthly-fees-price">£79</span>
                    <span class="membership-plans-plan-service-monthly-fees-duration">/month</span>
                    <div class="membership-plans-plan-service-monthly-fees-comment">When billed annually</div>
                </div>
                <div class="membership-plans-plan-start-button">
                    <%= link_to "<span> Start Trial &nbsp &nbsp ></span>".html_safe, memberships_change_path %>
                </div>
            </div>
        </div>
    </div>
</section>

<script>    
    $("#membership-plans-plan-duration-monthly").click(function(event){
        $(this).addClass('active-red');
        $("#membership-plans-plan-content-monthly").removeClass('active-display');

        $("#membership-plans-plan-duration-annual").removeClass('active-red');
        $("#membership-plans-plan-content-annual").addClass('active-display');
    })
    $("#membership-plans-plan-duration-annual").click(function(event){
        $(this).addClass('active-red');
        $("#membership-plans-plan-content-annual").removeClass('active-display');

        $("#membership-plans-plan-duration-monthly").removeClass('active-red');
        $("#membership-plans-plan-content-monthly").addClass('active-display');        
    })
</script>