<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= full_title(yield(:title)) %></title>

    <% if content_for?(:meta_tags) %>
      <%= yield :meta_tags %>
    <% else %>
	  <meta name="keywords" content="<%= $template.page_keywords %>">
	  <meta name="description" content="<%= $template.page_description %>">
    <% end %>

    <meta property="og:site_name" content="Bugaty.com"/>
    <meta property="og:country-name" content="United Kingdom"/>
    <meta property="og:description" content="Bugaty.com is an online UK open business free	classified ads marketplace for sellers and buyers. Sell and buy stuffs, find jobs and services. Get started today!."/>
    <meta property="og:region" content="United Kingdom"/>
    <meta property="og:locality" content="United Kingdom"/>
    <meta name="twitter:site" content="@Bugaty"/>
    <meta name="twitter:title" content="Bugaty | Post free ads - Uk’s Best Classified Website,	Buy &amp; Sell!"/>
    <meta name="twitter:url" content="https://www.bugaty.com/"/>
    <meta name="twitter:description" content="Bugaty.com is an online UK open business free classified ads marketplace for sellers and buyers. Sell and buy stuffs, find jobs and services. Get started today!."/>
    <%= canonical_tag -%>

    <%= include_gon %>

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" />
    <link rel="stylesheet" href="/css/hamburgers.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css" /> -->

    <%= csrf_meta_tags %>

    <meta name="google-site-verification" content="Ilrn8YivMUHg43Aztfomtmf3e-k5VSU23w1Zrwi3tsI" />
    <meta name="msvalidate.01" content="20689AAD76C854DAC91F58D2823A1D07" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <% end %>
    <!--<script src="https://js.braintreegateway.com/v2/braintree.js"></script>-->

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/jPaginator-min.js"></script>
    <script type="text/javascript" src="/js/jquery.MultipleFile.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <%= javascript_pack_tag 'application/index' %>
    <%if controller_name == "blog_posts" || controller_name == "podcasts" %>
    <meta name="turbolinks-visit-control" content="reload">
    <%end%>
  </head>

  <body>
    <%= render ('layouts/flash')%>
    <%= tinymce :alternate %>
    <%= yield %>
    <%= render ('layouts/footer')%>
    <a href="#sectionTop" class="backToTop"></a>
  </body>

  <% debug(params) if Rails.env.development? %>
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154655849-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-154655849-1');
    </script>
  <% end %>
</html>
